# Assignment 1 - Task 1 - Point 2

In [7]:
sl = list(range(2000,3201,1))
dl = []
for e in sl:
    if e % 7 == 0 and not e % 5 == 0:
        dl.append(e)

In [8]:
print(dl)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Assignment 1 - Task 1 - Point 3

In [6]:
fn = input('Enter First Name')
ln = input('Enter last Name')
bl = ' '
#rn = fn[len(fn)::-1] + bl + ln[len(ln)::-1]
rn = fn[::-1] + bl + ln[::-1]
print(rn)

Enter First Namesudipta
Enter last Namebhowal
atpidus lawohb

# Assignment 1 - Task 1 - Point 4

In [5]:
d = int(input("Dia"))
v = 4/3 * 22/7 * d/2 * d/2 * d/2
v

Dia12

905.1428571428573

# Assignment 1 - Task 2 - Point 1

In [2]:
a = input("Enter Comma separated numbers")
print(a.split(','))

Enter Comma separated numbers10,20,30
['10', '20', '30']

# Assignment 1 - Task 2 - Point 2

In [3]:
maxrow = 9
i = 1

while i <= maxrow: # Outer loop for increment of rows 
    j = 1          # Counter Initilized
    if i <= 5:     # Check till column 1 to 5  
        while j <= i: # loop till line 1 to 5
            print('*', end = '') # Print '*'
            j = j + 1 # inner loop counter increment 
    
    elif i > 5:    # Check if row greater than 5(6 to 9)
        k = maxrow - i + 1 # Decrement of variable 
        l = 1              # Counter initialized
        while  l <= k: # loop till column 5 to 1
            print('*', end = '') # Print '*'
            l = l + 1  # Inner loop counter increment
            
    print('\n') # New line
    i = i + 1   # Outer loop counter increment

*

**

***

****

*****

****

***

**

*

# Assignment 1 - Task 2 - Point 3

In [9]:
a = input()
b = a[::-1]
print(b)

kolkata
ataklok

# Assignment 1 - Task 2 - Point 4

In [13]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN, \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens